<div class="footer">
    <div class="first-box">
        <a href="#"><img src="assets/img/logored.png"></a>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
        molestie conequat, vel illum dolore eu feugita nulla facilisis</p>
    </div>

    <div class="second-box">
        <b>Important Links</b>
        <a href="#"><p>About Us</p></a>
        <a href="#"><p>Support</p></a>
        <a href="#"><p>Contact Us</p></a>
        <a href="#"><p>Our Products</p></a>
        <a href="#"><p>Payment Methods</p></a>
    </div>

    <div class="third-box">
        <b>Useful Links</b>
        <a href="#"><p>Cases</p></a>
        <a href="#"><p>White Papers</p></a>
        <a href="#"><p>FAQ</p></a>
        <a href="#"><p>Blog</p></a>
    </div>

    <div class="fourth-box">
        <b>Get in Touch</b>
        <a href="#"><p>Email: contact@conneqt.com</p></a>
        <a href="#"><p>Phone: 469-844-8261</p></a>
    </div>
</div>
