<div class="box-main">
    <img class="img-main" src="assets/img/principal.png">
    <div class="box-main-text">
        <p class="slogan">Making distances a meaningless thing.</p>
        <h1>we are <span>conneqt</span></h1>
        <button routerLink="/free-trial">Sign Up For A Free Trial</button>
    </div>
</div>

<div class="box-main-text-mobile">
    <p class="slogan">Making distances a meaningless thing.</p>
    <h1>we are <span>conneqt</span></h1>
    <div class="buttons-mobile">
        <button routerLink="/free-trial">Sign Up For A Free Trial</button>
        <button class="login">Login</button>
    </div>
</div>



<div class="box-section-1">
    <div class="box-monitor mtd-margin-b-32">
        <img src="assets/img/monitor.png" width="400" height="300">
    </div>

    <div class="box-monitor-text">
        <b>Your team always connected</b>
        <br><br>
        <div class="img-text">
            <img src="assets/img/ok.png">
            <p>One on one and group meetings</p>
        </div>
        <div class="img-text">
            <img src="assets/img/ok.png">
            <p>Record Meetings</p>
        </div>
        <div class="img-text">
            <img src="assets/img/ok.png">
            <p>Screen share</p>
        </div>
        <div class="img-text"> 
            <img src="assets/img/ok.png">
            <p>Share control over screens</p>
        </div>
        <div class="img-text">
            <img src="assets/img/ok.png">
            <p>Schedule and send reminders</p>
        </div>
    </div>
</div>

<div class="box-section-2">
    <b>Get a free trial</b>
    <br><br>
    <p>See how Conneqt can solve your communication needs.</p>
    <p>Start a trial now.</p>
    <button routerLink="/free-trial">Sign Up For A Free Trial</button>
</div>

<div class="box-section-3">
    <div class="mtd-margin-t-32">
        <b>Or purchase a license</b>
    </div>
    <div class="mtd-margin-t-16">
        <p class="visible">Contact your local reseller to request a license trial or purchase Conneqt.</p>
    <div>
    <div class="mtd-margin-t-32">
        <p>Global Reseller</p>
    </div>

    <div class="company">
        <table>
            <tr>
                <td class="first-column">John AppleSeed - Authorized Reseller</td>
                <td class="second-column">
                    <div class="d-flex">
                    <span class="company-website">Company Website</span>
                    <img src="assets/img/icon1.png">
                    </div>
                </td>
                <td class="third-column">
                    <div class="d-flex">
                    <img src="assets/img/icon2.png">
                    <span>469-844-8261</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="mtd-margin-t-16">
        <p>Brazil</p>
    </div>
    <div class="company">
        <table>
            <tr>
                <td class="first-column">Ultratech Revendedora</td>
                <td class="second-column">
                    <div class="d-flex">
                    <span class="company-website">Company Website</span>
                    <img src="assets/img/icon1.png">
                    </div>
                </td>
                <td class="third-column">
                    <div class="d-flex">
                    <img src="assets/img/icon2.png">
                    <span>469-844-8261</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="company">
        <table>
            <tr>
                <td class="first-column">BlueFin</td>
                <td class="second-column">
                    <div class="d-flex">
                    <span class="company-website">Company Website</span>
                    <img src="assets/img/icon1.png">
                    </div>
                </td>
                <td class="third-column">
                    <div class="d-flex">
                    <img src="assets/img/icon2.png">
                    <span>469-844-8261</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="company">
        <table>
            <tr>
                <td class="first-column">Gold Comm Sistemas</td>
                <td class="second-column">
                    <div class="d-flex">
                    <span class="company-website">Company Website</span>
                    <img src="assets/img/icon1.png">
                    </div>
                </td>
                <td class="third-column">
                    <div class="d-flex">
                    <img src="assets/img/icon2.png">
                    <span>469-844-8261</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="company">
        <table>
            <tr>
                <td class="first-column">Centraltek</td>
                <td class="second-column">
                    <div class="d-flex">
                    <span class="company-website">Company Website</span>
                    <img src="assets/img/icon1.png">
                    </div>
                </td>
                <td class="third-column">
                    <div class="d-flex">
                    <img src="assets/img/icon2.png">
                    <span>469-844-8261</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
