<div class="box-free-trial">
    <h1>Free-Trial Sign Up</h1>
    <h3>Get started and experience Conneqt today.</h3>
    <div class="box-form">
        <form>
            <input type="text" name="company" placeholder="Company Name">
            <input type="text" name="company" placeholder="Segment">
            <input type="text" name="company" placeholder="Number of Users">
            <p>* How many devices would have Conneqt installed.</p>
            <input type="text" name="company" placeholder="Full Name">
            <input type="text" name="company" placeholder="Email">
            <input type="text" name="company" placeholder="Telephone">
            <input type="text" name="company" placeholder="Password">
        </form>
    </div>

    <button routerLink="/signup">Sign Up And Try For Free</button>
</div>

